fastapi
uvicorn[standard]
motor                 # async MongoDB driver
python-jose[cryptography]   # JWT (or PyJWT)
pydantic[email]       # with email validation
python-multipart
aiofiles
werkzeug
qrcode[pil]           # QR code generation
pillow                # Image processing


dnspython
python-dotenv
onvif-zeep              # ONVIF protocol support
wsdiscovery             # Network device discovery
opencv-python-headless  # Video stream processing (optional)